# http://www.gnu.org/software/automake

Makefile.in
Makefile
.deps

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
*.o
*.lo
*.la
*.m4
/lib/gmock/*
config.*
*.swp
.libs
test_runner
/stamp-h1
/libtool
/ltmain.sh
/header
/header_shell
/add_header.sh
*.tar.gz
/doc
/examples/example
/img
